Django==1.4.5
Fabric==1.6.1
MySQL-python==1.2.4
PIL==1.1.7
South==0.8.1
apiclient==1.0.2
argparse==1.2.1
astroid==1.0.0
distribute==0.6.28
django-allauth==0.12.0
google-api-python-client==1.1
httplib2==0.8
ipython==0.13.2
logilab-common==0.60.0
numpy==1.7.1
oauth2client==1.1
oauthlib==0.4.2
paramiko==1.17.6
pylint==1.0.0
python-gflags==2.0
python-openid==2.2.5
raven==3.4.1
requests==1.2.3
requests-oauthlib==0.3.2
wsgiref==0.1.2
xmpppy==0.5.0rc1
